.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

              
Movensense_test
Berit_data_combining_take1.ipynb   
Day1                                                    
Day2
Source_raw 
Stimuli
Out_Data
plots